<%= image_tag @sneaker.image if @sneaker.image.present? %>
<h1><%= @sneaker.name %></h1>
<p><%= @sneaker.model %></p>
<p><%= @sneaker.price %></p>
<%= link_to "All Sneakers", sneakers_path %>
<%= link_to "Edit Sneaker", edit_sneaker_path(@sneaker) %>
<%= button_to "Destroy", sneaker_path(@sneaker), method: :delete, data: { confirm: "Are you sure?"} %>
